*.log
.DS_Store
.ftpquota
.htaccess
nginx.conf
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

readme.html
license.txt

##################################
# W3 Total Cache untracked files #
##################################
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
wp-content/cache/
wp-content/plugins/w3-total-cache/
wp-content/w3tc-config/
